In [217]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [218]:
df = pd.read_csv(r"D:\portfolio\ARcraft\final project\project 3\data\raw\country_codes.csv")
df

    country                      region  country_name
0       ABW   Latin America & Caribbean         Aruba
1       AFG                  South Asia   Afghanistan
2       AGO          Sub-Saharan Africa        Angola
3       ALB       Europe & Central Asia       Albania
4       AND       Europe & Central Asia       Andorra
..      ...                         ...           ...
212     XKX       Europe & Central Asia        Kosovo
213     YEM  Middle East & North Africa   Yemen, Rep.
214     ZAF          Sub-Saharan Africa  South Africa
215     ZMB          Sub-Saharan Africa        Zambia
216     ZWE          Sub-Saharan Africa      Zimbabwe

[217 rows x 3 columns]

In [219]:
df.describe()

       country                 region country_name
count      217                    217          217
unique     217                      7          217
top        ABW  Europe & Central Asia        Aruba
freq         1                     58            1

In [220]:
df.isna().sum()

country         0
region          0
country_name    0
dtype: int64

In [221]:
df["country_name"].value_counts()

country_name
Aruba           1
Afghanistan     1
Angola          1
Albania         1
Andorra         1
               ..
Kosovo          1
Yemen, Rep.     1
South Africa    1
Zambia          1
Zimbabwe        1
Name: count, Length: 217, dtype: int64

In [222]:
df2 = pd.read_csv(r"D:\portfolio\ARcraft\final project\project 3\data\raw\country_indicators.csv")
df2

,country,year,corruption_index,homicide_rate,GDP,total_fisheries_per_ton,total_military,population,unemployment_rate,totalgr,industryofgdp
0,ABW,1993.0,NaN,NaN,14936.827219,260.0,NaN,72504.0,NaN,NaN,NaN
1,ABW,1994.0,NaN,NaN,16241.046521,260.0,NaN,76700.0,NaN,NaN,NaN
2,ABW,1995.0,NaN,7.469748,16439.356361,140.0,NaN,80324.0,NaN,NaN,0.153986
3,ABW,1996.0,NaN,NaN,16586.068436,160.0,NaN,83200.0,NaN,0.315830,0.149867
4,ABW,1997.0,NaN,NaN,17927.749635,205.0,NaN,85451.0,NaN,0.279613,0.171327
...,...,...,...,...,...,...,...,...,...,...,...
5894,ZWE,2015.0,21.0,NaN,1445.071062,25500.0,50800.0,13814629.0,5.302,0.187196,0.223584
5895,ZWE,2016.0,22.0,NaN,1464.583529,25796.0,50800.0,14030390.0,5.253,0.168317,0.221151
5896,ZWE,2017.0,22.0,NaN,1548.170056,NaN,51000.0,14236745.0,5.168,0.141045,0.214050
5897,ZWE,2018.0,22.0,NaN,1683.740577,NaN,NaN,14439018.0,5.087,0.128309,0.206429
5898,ZWE,2019.0,24.0,NaN,1463.985910,NaN,NaN,14645468.0,4.954,NaN,NaN

In [223]:
df2.head()

,country,year,corruption_index,homicide_rate,GDP,total_fisheries_per_ton,total_military,population,unemployment_rate,totalgr,industryofgdp
0,ABW,1993.0,NaN,NaN,14936.827219,260.0,NaN,72504.0,NaN,NaN,NaN
1,ABW,1994.0,NaN,NaN,16241.046521,260.0,NaN,76700.0,NaN,NaN,NaN
2,ABW,1995.0,NaN,7.469748,16439.356361,140.0,NaN,80324.0,NaN,NaN,0.153986
3,ABW,1996.0,NaN,NaN,16586.068436,160.0,NaN,83200.0,NaN,0.315830,0.149867
4,ABW,1997.0,NaN,NaN,17927.749635,205.0,NaN,85451.0,NaN,0.279613,0.171327

In [224]:
df2.columns

Index(['country', 'year', 'corruption_index', 'homicide_rate', 'GDP',
       'total_fisheries_per_ton', 'total_military', 'population',
       'unemployment_rate', 'totalgr', 'industryofgdp'],
      dtype='object')

In [225]:
df2.isna().sum()

country                       0
year                         34
corruption_index           2522
homicide_rate              2479
GDP                         520
total_fisheries_per_ton     908
total_military             1766
population                   41
unemployment_rate           844
totalgr                    1780
industryofgdp              1024
dtype: int64

In [226]:
df2 = df2.dropna(subset=['year'])

In [227]:
mean = df2['corruption_index'].mean()
df2['corruption_index'] = df2['corruption_index'].fillna(df2['corruption_index'].mean())

print(df2['corruption_index'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\2409919328.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['corruption_index'] = df2['corruption_index'].fillna(df2['corruption_index'].mean())

In [228]:
mean_homicide = df2['homicide_rate'].mean()
df2['homicide_rate'] = df2['homicide_rate'].fillna(df2['homicide_rate'].mean())

print(df2['homicide_rate'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\1939303549.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['homicide_rate'] = df2['homicide_rate'].fillna(df2['homicide_rate'].mean())

In [229]:
mean_GDP = df2['GDP'].mean()
df2['GDP'] = df2['GDP'].fillna(df2['GDP'].mean())

print(df2['GDP'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\2362244291.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['GDP'] = df2['GDP'].fillna(df2['GDP'].mean())

In [230]:
mean_fisheries = df2['total_fisheries_per_ton'].mean()
df2['total_fisheries_per_ton'] = df2['total_fisheries_per_ton'].fillna(round(df2['total_fisheries_per_ton']).mean()).astype(int)

print(df2['total_fisheries_per_ton'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\1378802775.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['total_fisheries_per_ton'] = df2['total_fisheries_per_ton'].fillna(round(df2['total_fisheries_per_ton']).mean()).astype(int)

In [231]:
mean_military = df2['total_military'].mean()
df2['total_military'] = df2['total_military'].fillna(round(df2['total_military']).mean()).astype(int)

print(df2['total_military'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\2729377398.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['total_military'] = df2['total_military'].fillna(round(df2['total_military']).mean()).astype(int)

In [232]:
mean_population = df2['population'].mean()
df2['population'] = df2['population'].fillna(round(df2['population']).mean()).astype(int)

print(df2['population'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\48883063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['population'] = df2['population'].fillna(round(df2['population']).mean()).astype(int)

In [233]:
mean_unemployment_rate = df2['unemployment_rate'].mean()
df2['unemployment_rate'] = df2['unemployment_rate'].fillna(round(df2['unemployment_rate']).mean()).astype(int)

print(df2['unemployment_rate'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\415388890.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['unemployment_rate'] = df2['unemployment_rate'].fillna(round(df2['unemployment_rate']).mean()).astype(int)

In [234]:
mean_unemployment_rate = df2['unemployment_rate'].mean()
df2['unemployment_rate'] = df2['unemployment_rate'].fillna((df2['unemployment_rate']).mean()).astype(int)

print(df2['unemployment_rate'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\200336436.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['unemployment_rate'] = df2['unemployment_rate'].fillna((df2['unemployment_rate']).mean()).astype(int)

In [235]:
mean_gr = df2['totalgr'].mean()
df2['totalgr'] = df2['totalgr'].fillna((df2['totalgr']).mean()).astype(int)

print(df2['totalgr'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\2922503813.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['totalgr'] = df2['totalgr'].fillna((df2['totalgr']).mean()).astype(int)

In [236]:
mean_gr = df2['industryofgdp'].mean()
df2['industryofgdp'] = df2['industryofgdp'].fillna((df2['industryofgdp']).mean()).astype(int)

print(df2['industryofgdp'].isnull().sum())

0

C:\Users\abdul\AppData\Local\Temp\ipykernel_2076\1937832100.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['industryofgdp'] = df2['industryofgdp'].fillna((df2['industryofgdp']).mean()).astype(int)

In [237]:
df2.isna().sum()

country                    0
year                       0
corruption_index           0
homicide_rate              0
GDP                        0
total_fisheries_per_ton    0
total_military             0
population                 0
unemployment_rate          0
totalgr                    0
industryofgdp              0
dtype: int64

In [238]:
df2.duplicated().sum()

np.int64(0)

In [239]:
df3 = pd.read_csv(r"D:\portfolio\ARcraft\final project\project 3\data\raw\pirate_attacks.csv")
df3

,date,time,longitude,latitude,attack_type,location_description,nearest_country,eez_country,shore_distance,shore_longitude,shore_latitude,attack_description,vessel_name,vessel_type,vessel_status,data_source
0,1993-01-02,NaN,116.966700,19.700000,NaN,Hong Kong - Luzon - Hainan,CHN,TWN,357.502373,115.825956,22.746644,NaN,Mv Cosmic Leader,NaN,NaN,mappingpiracy
1,1993-01-04,NaN,116.000000,22.350000,NaN,Hong Kong - Luzon - Hainan,CHN,CHN,47.431573,115.825956,22.746644,NaN,Mv Tricolor Star III,NaN,NaN,mappingpiracy
2,1993-01-06,NaN,115.250000,19.670000,NaN,Hong Kong - Luzon - Hainan,CHN,TWN,280.811871,114.302501,22.044867,NaN,Mv Arktis Star,NaN,NaN,mappingpiracy
3,1993-01-08,NaN,124.583300,29.900000,NaN,East China Sea,CHN,CHN,209.923396,122.409679,29.911200,NaN,Ussurijsk,NaN,NaN,mappingpiracy
4,1993-01-12,NaN,120.266700,18.133333,NaN,Hong Kong - Luzon - Hainan,PHL,PHL,22.027332,120.470063,18.091010,NaN,Mv Chennai Nermai,NaN,NaN,mappingpiracy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7506,2020-12-15,02:15 UTC,4.751944,2.000833,Boarded,Around 165nm SSW of Brass,STP,STP,269.439937,6.497813,0.312690,15.12.2020: 0215 UTC: Posn: 02:00.3N - 004:45....,NaN,Product Tanker,NaN,imb
7507,2020-12-19,13:36 UTC,6.169167,2.602222,Boarded,Around 100nm South of Brass,STP,STP,168.407993,7.371837,1.677191,19.12.2020: 1336 UTC: Posn: 02:36.8N – 006:10....,NaN,Container,NaN,imb
7508,2020-12-21,04:09 UTC,5.616667,2.616667,Boarded,"Around 107nm SSW of Brass, Nigeria",NGA,NGA,191.182791,6.112804,4.272162,"21.12.2020: 0409 UTC: Posn : 02:37N – 005:37E,...",NaN,Container,NaN,imb
7509,2020-12-26,01:30 UTC,-1.683333,4.883333,Boarded,Takoradi Anchorage,GHA,GHA,6.288180,-1.718821,4.927680,26.12.2020: 0130 UTC: Posn: 04:53.51N – 001:41...,NaN,General Cargo,Anchored,imb
7510,2020-12-29,16:40 UTC,6.400000,2.733333,Attempted,Around 94nm South of Brass,STP,STP,158.939346,7.385265,1.692328,"29.12.2020: 1640 UTC: Posn: 02:44N – 006:24E, ...",NaN,Tanker,NaN,imb

In [240]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7511 entries, 0 to 7510
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   date                  7511 non-null   object
 1   time                  1149 non-null   object
 2   longitude             7511 non-null   float64
 3   latitude              7511 non-null   float64
 4   attack_type           7391 non-null   object
 5   location_description  7503 non-null   object
 6   nearest_country       7492 non-null   object
 7   eez_country           7216 non-null   object
 8   shore_distance        7511 non-null   float64
 9   shore_longitude       7511 non-null   float64
 10  shore_latitude        7511 non-null   float64
 11  attack_description    1173 non-null   object
 12  vessel_name           6079 non-null   object
 13  vessel_type           1173 non-null   object
 14  vessel_status         6599 non-null   object
 15  data_source           7511 non-null   object
dtypes: float64(5), object(11)
memory usage: 939.0+ KB

In [241]:
df3.describe()

,longitude,latitude,shore_distance,shore_longitude,shore_latitude
count,7511.000000,7511.000000,7511.000000,7511.000000,7511.000000
mean,59.334247,6.505837,53.711327,59.280798,6.599277
std,58.533689,10.532129,126.592636,58.549858,10.609951
min,-163.992800,-34.903333,0.039189,-169.512766,-34.898696
25%,10.133750,0.841667,2.922736,9.846121,0.893744
50%,83.416667,5.033333,10.108765,83.341319,5.242255
75%,105.173594,13.150000,36.219880,105.246349,13.585598
max,160.264600,56.587800,1024.029180,160.257579,56.684719

In [242]:
df3.duplicated().sum()

np.int64(20)

In [243]:
df3.isna().sum()

date                       0
time                    6362
longitude                  0
latitude                   0
attack_type              120
location_description       8
nearest_country           19
eez_country              295
shore_distance             0
shore_longitude            0
shore_latitude             0
attack_description      6338
vessel_name             1432
vessel_type             6338
vessel_status            912
data_source                0
dtype: int64

In [244]:
df3['attack_type'] = df3['attack_type'].fillna('Unknown')
df3['eez_country'] = df3['eez_country'].fillna('Unknown')

In [245]:
df3['time'] = df3['time'].fillna('Unknown')

In [246]:
df3['location_description'].dropna()

0               Hong Kong - Luzon - Hainan
1               Hong Kong - Luzon - Hainan
2               Hong Kong - Luzon - Hainan
3                           East China Sea
4               Hong Kong - Luzon - Hainan
                       ...
7506             Around 165nm SSW of Brass
7507           Around 100nm South of Brass
7508    Around 107nm SSW of Brass, Nigeria
7509                    Takoradi Anchorage
7510            Around 94nm South of Brass
Name: location_description, Length: 7503, dtype: object

In [247]:
df3['nearest_country'] = df3['nearest_country'].dropna()
df3['location_description'] = df3['location_description'].dropna()
df3['nearest_country'] = df3['nearest_country'].dropna()

In [248]:
df3['attack_description'] = df3['attack_description'].fillna('Unknown')
df3['vessel_name'] = df3['vessel_name'].fillna('Unknown')
df3['vessel_type'] = df3['vessel_type'].fillna('Unknown')
df3['vessel_status'] = df3['vessel_status'].fillna('Unknown')

In [249]:
df3.isna().sum()

date                     0
time                     0
longitude                0
latitude                 0
attack_type              0
location_description     8
nearest_country         19
eez_country              0
shore_distance           0
shore_longitude          0
shore_latitude           0
attack_description       0
vessel_name              0
vessel_type              0
vessel_status            0
data_source              0
dtype: int64

In [251]:
df.to_csv(r"D:\portfolio\ARcraft\final project\project 3\data\processed\country_codes_clnd.csv", index=False)
df2.to_csv(r"D:\portfolio\ARcraft\final project\project 3\data\processed\country_indicators.csv", index=False)
df3.to_csv(r"D:\portfolio\ARcraft\final project\project 3\data\processed\pirate_attacks.csv", index=False)